
#stitre{
    position: absolute;
    width: 465px;
    height: 68px;
    left: 138px;
    top: 400px;
}

h1{
    font-size: 56px !important;
    position: absolute;
    left: 145px;
    top: 226px;
}

 