@mixin navItem{
  font-family: 'Nunito Sans', sans-serif;
  font-size: 16px;
}

@mixin H{
  font-family: 'Khula', sans-serif;
}

@mixin span{
  font-family: 'Nunito Sans', sans-serif;
}
nav{
  .navbar-brand{
  font-size: 27px;
  }
  .nav-item{
    @include navItem;
  }
  button{
    @include navItem;
  }
}

.row{

  #tphoto{
    @include H;
    font-size: 56px;
  }
  p{
    @include span;
    font-size: 20px;
  }
}
label{
font-size: 18px;}

.titreh1{
  @include H;
  font-size: 36px;
  color: black;
}
#des, #story{
  @include navItem;
}


.qual{
  p{
    font-size: 14px;
    color: #aeaeae;
      span{
         @include navItem;
         color: $blue; 
      }
  }
}

.estimation{
  background-color: $blue;
  height: 262px;
  div{
    h2{
      @include H;
      color: white;
    }
    p{
      @include navItem;
      color: white;
    }
  }
}
